#!/usr/bin/python
"""
Generate a containernet network.
"""
from mininet.net import Containernet
from mininet.node import Controller
from mininet.node import RemoteController
from mininet.cli import CLI
from mininet.link import TCLink
from mininet.log import setLogLevel
from mininet.log import info as minfo
from midori.runtime import Context
import json
import socket
import time

setLogLevel('info')

{#- Write a regular mininet controller. -#}
{%- macro write_controller(statement) -%}
    name = "{{ statement.name }}"
    net = Containernet(controller=Controller)
    info(f"*** Adding controller: {name}\n")
    net.addController(name)
{%- endmacro %}

{#- Write a remote controller suitable for integration with eg onos -#}
{% macro write_remote_controller0(statement) -%}
    info('*** Adding controller\n')
    net = Containernet()
    name, host, port = "{{ statement.name }}", "{{ statement.host }}", {{ statement.port }}
    ip = socket.gethostbyname(host)
    controller = RemoteController(name, ip=ip, port=port)
    net.addController(controller)
    info(f"*** Added RemoteController(name={name},host={host},port={port})\n")
{%- endmacro %}
{#- Write a remote controller suitable for integration with eg onos -#}
{% macro write_remote_controller(statement) -%}
{%- endmacro %}

{#- Write a host definition specifying container parameters. -#}
{% macro write_host(statement) -%}
    {{ statement.name }} = context.add_container(
        name="{{ statement.name }}",ip="{{ statement.ip_addr }}", image="{{ statement.image }}", mac="{{ statement.mac }}",
        env={ {% for pair in statement.env %}{{ pair[0] }} : "{{ pair[1] }}",{%- endfor -%} },
        ports=[{% if statement.ports %}{% for port in statement.ports %}{{ port }},{% endfor %}{% endif %}],
        port_bindings = { {% for bind in statement.port_bindings -%}{{ bind[0] }} : {{ bind[1] }},{% endfor %} },
        cmd={{ statement.cmd }})
    {%- set test = hosts.update({ statement.name : statement}) %}
{%- endmacro %}

{#- Write switch definitions. -#}
{% macro write_switch(statement) -%}
    {%- for name in statement.name %}
    {{ name }} = context.add_switch(name="{{ name }}")
    {%- endfor -%}
{%- endmacro %}

{#- Write a link. -#}
{%- macro write_link(statement) -%}
    context.add_link(src={{ statement.src }}, dst={{ statement.dst }}
                     {%- if statement.port1 -%}, port1={{ statement.port1 }}{%- endif -%}
                     {%- if statement.port2 -%}, port2={{ statement.port2 }}{%- endif -%}
                     {%- if statement.cls -%}, cls={{ statement.cls }}{%- endif -%}
                     {%- if statement.delay -%}, delay="{{ statement.delay }}"{%- endif -%}
                     {%- if statement.bw -%}, bw=int({{ statement.bw }}){%- endif -%})
{%- endmacro -%}

{#- Write an intent to the SDN controller linking a path of hosts. -#}
{#- Currently, only host to host intents are supported. -#}
{%- macro write_intent(statement) -%}
    {%- for host in statement.name -%}
    {%- if loop.index < loop.length -%}
    {%- set source_host = hosts[host] -%}
    {%- set dest_host = hosts[statement.name[loop.index]] -%}
    {#- info (f"** Adding host-to-host intent: {{ source_host.name }}->{{ dest_host.name }} {{ source_host.mac }} {{ dest_host.mac }}\n") -#}
    context.add_host2host_intent(src={{ source_host.name }}, src_mac="{{ source_host.mac }}", dst={{ dest_host.name }}, dst_mac="{{ dest_host.mac }}")
    {%- endif -%}
    {%- endfor -%}
{% endmacro -%}
    
{#- Write a ping statement. -#}
{%- macro write_ping(statement) -%}
    info (f"** Pinging hosts: {{ statement.name }}\n")
    context.net.ping ([
    {%- for node in statement.name -%}
      {{ node }}.node{% if not loop.last %},{% endif -%}
    {%- endfor -%}])
{%- endmacro -%}

{#- Write a start statement. -#}
{%- macro write_start(statement) -%}
    info (f"** Committing property graph model.\n")
    context.commit()
    info (f"** Starting Containernet simulation network.\n")
    context.net.start()
    {%- for host in hosts.values() %}
    info (f"** Executing container initialization commands.\n")
        {%- for command in host.cmd %}
    {{ host.name }}.node.cmd("{{ command }}")
        {%- endfor -%}
    {%- endfor -%}
{%- endmacro -%}
    
{#- Write a sleep statement. -#}
{%- macro write_sleep(statement) -%}
    info (f"** Sleeping {{ statement.seconds }} seconds.\n")
    time.sleep({{ statement.seconds }})
{%- endmacro %}

{#- Write a stop statement. -#}
{%- macro write_stop(statement) -%}
    info (f"** Stopping Containernet simulation.\n")
    context.net.stop()
{%- endmacro %}

{# Write the main implementation of the network. #}
def run_network(context: Context) -> None:
    """ Run the simulated network in the environment provided by context.

    Args:
        context (Context): An environment including an SDN
        controller and graph database for the simulation.

    """
    def info(message: str) -> None:
        """ Write an informational message.
    
        Args: 
            message (str): A string message to write.
        """
        context.log(message)
        minfo(message)
{%- set hosts = {} -%}
{%- for statement in ast.statements -%}
  {% set token_type = statement.__class__.__name__ -%}
  {% if 'Controller' == token_type %}
    {{ write_controller(statement) }}
  {% elif 'RemoteController' == token_type %}
    {{ write_remote_controller(statement) }}
  {% elif 'Host' == token_type %}
    {{ write_host(statement) }}
  {% elif 'Switch' == token_type %}
    {{ write_switch(statement) }}
  {% elif 'Link' == token_type %}
    {{ write_link(statement) }}
  {% elif 'Intent' == token_type %}
    {{ write_intent(statement) }}
  {% elif 'Up' == token_type %}
    {{ write_start(statement) }}
  {% elif 'Ping' == token_type %}
    {{ write_ping(statement) }}
  {% elif 'Sleep' == token_type %}
    {{ write_sleep(statement) }}
  {% elif 'Down' == token_type %}
    {{ write_stop(statement) }}
  {%- else %}
    print(f"ERROR: unmatched token: {{ statement }}") 
  {%- endif %}
{%- endfor %}
   
